body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
};
*{
    box-sizing: border-box;
}

@font-face{
    font-family: 'Montserrat', sans-serif;
    src: url url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

}

.header{
    width: 100%;
    height: 112px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#logoH1{
    width: 104px;
    height: 51px;
    margin: 17px 285px 43px 25px;
}

.parte1{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 414px;
    height: 510px;
    align-items: center;
    background: #FAFAFA;
    /* margin-top: 112px ; */
}

.food{
    width: 80px;
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    /* background: #FAFAFA; */
    line-height:24px ;
    font-weight: 700;
    color: #737373;
}
.chamada{
    width: 100%;
    height: 128px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px auto;
} 
.chamada h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    width: 391px;
    text-align: center;
    line-height: 42px;
    margin: 10px auto;
}

.download{
    width: 356px;
    height: 76px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
}

.download p{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    width: 391px;
    text-align: center;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}

.download{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
.botao{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px;  
}
.playStore{
    width: 236px;
    height: 68px;
    background: #FA4A0C;
    border-color: #FA4A0C;
    border: 0; 
    align-self: center ; 
    position: relative; 
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: white;
     margin: 10px auto;
}

.appStore{
    width: 236px;
    height: 68px;
    background: none;
    border-color:#FA4A0C;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color:  #FA4A0C;
    border-radius: 30px; 
}

/* .teste{
    display: flex;

} */

.imgs{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 565px;
    width: 450px;
    margin: 1px auto; 
    padding: 20px;   
    
}
.telaInicial{
    width: 230px;
    height: 415px;
    
    
}

.telaHome{
    width: 219px;
    height: 415px;
    position: absolute;
    left: 187px;
    margin-top: 64px;
    z-index: -1;
    
}

hr{
    position: absolute;
    width: 100%;
    height: 0px;
    top: 1170px;
    border: 3px solid #E4E4E4;
    margin: auto;
   
}

.criarConta{
    width: 100%;
    height: 500px;
    margin-top:55px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}
.criarConta h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 45PX;
    font-weight: 600;
    letter-spacing: 0.2px;
    
   
}

.criarConta h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    font-weight: 700;
    color: #FA4A0C;
}

.infoIniciar{
    width: 337px;
    height: 228px;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 40px 0px 0px 0px;
}

.infoIniciar h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    font-weight: 700;
    color: #252B42;
    margin: 0px 0px 0px 0px;
}

.infoIniciar h4{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

.infoIniciar img{
    width: 414px;
    height: 581px;
    
}

.explorar{
    width: 100%;
    height: 931px;
    top: 2200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explorar h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FA4A0C;
    margin-top: 40px;
}

.explorar1{
    width: 327px;
    height: 171px;
    padding: 40px;
}
.explorar h2{
    font-family:'Montserrat', sans-serif;;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
    padding: 40px;

}

.explorar h4{
    font-family:'Montserrat', sans-serif;;
    font-weight:500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-top: 10px;
}

.explorar img{
   height: 581px;
}

.check{
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 3135px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.check h3{
    font-family:'Montserrat', sans-serif;;
    font-weight:500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FA4A0C;
    margin-top: 10px;

}
.check h2{
    font-family:'Montserrat', sans-serif;;
    font-weight:bold;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.2px;
    margin:15px ;
}
.check h4{
    font-family:'Montserrat', sans-serif;;
    font-weight:500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.2px;
    margin-top:15px ;
    color: #737373;
}

.check img{
    height: 581px;
}


.preFooter{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    align-items: center;
    background: #252B42;
    width: 100%;
    height: 564px;
    position: absolute;
    top: 4100px;
}
.baixar h2{
    font-family:'Montserrat', sans-serif;;
    font-weight:700;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.2px;
    margin-top:120px ;
    color: #FFFFFF;
}
.baixar h4{
    font-family:'Montserrat', sans-serif;;
    font-weight:500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.2px;
    margin-top:20px ;
    color: #BDBDBD;
}


.botoesFinais{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.preFooter button{
    margin-right: 15px;
    margin-top: 60px;
}

.buy{
    width: 136px;
    height: 64px;
    background: #FA4A0C;
    border-color: #FA4A0C;
    border: 0; 
    align-self: center ; 
    position: relative; 
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
}


.try{
    width: 226px;
    height: 64px;
    background: none;
    border-color: #FFFFFF;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    border-radius: 10px; 
}

.footer{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    align-items: center;
    background: #FFFFFF;   
    width: 100%;
    height: 225px;
    position: absolute;
    top: 4664px;
}

.redes{
    display: flex;
    width: 161px;
    justify-content: space-between;
    margin-top: 64px;
    
}


.footer  span{
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #5C5C5C;
    margin-top: 13px;
    
}
@media(min-width: 1024px){

    .header{
        height: 155px;
    }
    
    #logoH1{
        width: 206px;
        height: 102px;
        margin-left: 90px;
        margin-top: 26px;
    }

    .menu{
        
    }
    .parte1{
        background-image: url("img/background.svg");
        background-size: 100%;
        background-repeat: no-repeat; 
        height: 620px;
    }
    .food{
        color: white;
        font-size: 24px;
        line-height: 36px;
        width: 120px;
    }

    .chamada{
        width: 100%;
        height: 160px;
    }
    .chamada h2{
        color:white;
        font-size: 48px;
        line-height: 80px;
        width: 939px;
    }

    .download{
        width: 100%;
    }

    .download p{
        color:white;
        width: 564px;
        margin: 5px auto;
    }
    
    .botao{
        flex-direction: row;
        align-items: center; 
        width: 590px;
        justify-content: space-between;
       
    }

    .appStore{
        color: white;
        border-color:white;
        margin: auto;
    }

    .imgs{
        margin: auto;
        margin-top: -175px;
        display: flex;
        align-items: center;
    }

    .telaInicial{
        width: 299px;
        height: 586px;
        
        
        
    }
        .telaHome{
        width: 285px;
        height: 531px;
        position: absolute;
        margin: -2px;
        margin-left: 85px;
         z-index: 1; 
        
    }
}
